{% extends 'quotes/base.html' %}


{% block body %}

<div class="row">
    <div class="col-md-8">
    {%  for quote in quotes %}
    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">{{quote.quote}}</span>
        <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
        <a href="/author/{{quote.author.fullname}}">(about)</a>
        </span>
        <div class="tags">
            Tags:
            {% for tag in quote.tags %}      
            <a class="tag" href="/tag/{{tag}}">change</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>    
</div>
{% endblock %}